<ion-view view-title="Elektrische heftruck 3 serie">
  <ion-content class="manual-detail">
    <iframe style="display:block;" width="100%" height="315" src="https://www.youtube.com/embed/QuXtpHf3tDk" frameborder="0" allowfullscreen></iframe>

    <div class="list">
      <div class="item item-divider">
        Ingebruikname
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-play"></i> Inspectie voertuig
        <span class="item-note">
          0:04
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-play"></i> Uitleg besturing
        <span class="item-note">
          1:12
        </span>
      </div>
      <div class="item item-divider">
        Werken met
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-play"></i> Rijden met de heftruck
        <span class="item-note">
          2:24
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-play"></i> Liften en draaien
        <span class="item-note">
          3:10
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-play"></i> Verplaatsen van pallets
        <span class="item-note">
          3:43
        </span>
      </div>

</div>

<div class="list card">
  <div class="item">Meer</div>
  <ul class="list">
      <li class="item"><a href="#/tab/manuals/categories/detail"><i class="ion-ios-book-outline"></i> &nbsp; Handleiding downloaden
        <span class="item-note">
          (PDF 32,8kb)
        </span>

        </a></li>
      <li class="item"><a href="#"><i class="ion-ios-printer-outline"></i> &nbsp;Printen</a></li>
  </ul>
</div>

  </ion-content>
</ion-view>
