<ion-view view-title="Account">
  <ion-content class="padding">
    <ion-list>
      <ion-toggle ng-model="settings.push" class="toggle-assertive">
          Notificaties
      </ion-toggle>
      <ion-toggle ng-model="settings.extend" class="toggle-assertive">
          Automatisch verlengen
      </ion-toggle>
      <ion-toggle class="toggle-assertive">
          Offline beschikbaar
      </ion-toggle>
    </ion-list>
    <button class="button button-block button-assertive">
  Uitloggen
</button>
  </ion-content>
</ion-view>
