<ion-view view-title="Account">
  <ion-content class="padding">
    <ul class="list">

<li class="item item-toggle">
  Notificaties
   <label class="toggle toggle-assertive">
     <input type="checkbox" ng-model="settings.push">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
</li>


<li class="item item-toggle">
  Automatisch verlengen
   <label class="toggle toggle-assertive">
     <input type="checkbox" ng-model="settings.extend">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
</li>


<li class="item item-toggle">
  Offline beschikbaar
   <label class="toggle toggle-assertive">
     <input type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
</li>


</ul>


    <button class="button button-block button-assertive">
  Uitloggen
</button>
  </ion-content>
</ion-view>
