<ion-view view-title="Jungheinrich">
  <ion-content class="dashboard">
    <div class="rental-header padding"></div>
    <div class="card rental-summary">
      <div class="item item-body">
        <h1>Elektrische heftruck</h1>
        <h2>Vanaf 21 mei 09:32, 5 dagen en 4 uur</h2>
        <button class="button button-positive">
          <i class="ion-ios-timer-outline"></i> Afmelden
        </button>
        <a class="button button-outline" href="#/tab/manuals/categories/detail">
          <i class="ion-ios-play"></i> Handleiding
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item">Documenten</div>
      <ul class="list">
          <li class="item"><a href="#/tab/manuals/categories/detail"><i class="ion-ios-book-outline"></i> &nbsp;Handleiding</a></li>
          <li class="item"><a href="#"><i class="ion-ios-paper-outline"></i> &nbsp;Overeenkomst</a></li>
          <li class="item"><a href="#"><i class="ion-ios-filing-outline"></i> &nbsp;Factuur</a></li>
      </ul>
    </div>
    <div class="list card">
      <div class="item item-divider">Hulp nodig?</div>
      <div class="item item-body">
        <div>
          Bel ons op <b><i class="ion-ios-telephone"></i> 0800-5222</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Credits</div>
      <div class="item item-body">
        <div>
          U heeft met deze opdracht <b>29</b> credits verdiend.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
